In [1]:
import psycopg2

In [2]:
conn=psycopg2.connect(database="cisc520",host="localhost",password="password",user="postgres")

In [3]:
conn.autocommit=True

In [4]:
cursor=conn.cursor()

In [5]:
sql='''DROP table IF EXISTS main'''

In [6]:
cursor.execute(sql)

In [7]:
sql='''CREATE TABLE MAIN(
ACCIDENT_DATE DATE,
ACCIDENT_TIME time,
BOROUGH CHAR(20),
ZIP_CODE CHAR(5),
LATITUDE float,
LONGITUDE float,
LOCATION CHAR(100),
ON_STREET_NAME CHAR(50),
CROSS_STREET_NAME CHAR(50),
OFF_STREET_NAME CHAR(50),
NUMBER_OF_PERSONS_INJURED INT,
NUMBER_OF_PERSONS_KILLED INT,
NUMBER_OF_PEDESTRIANS_INJURED INT,
NUMBER_OF_PEDESTRIANS_KILLED INT,
NUMBER_OF_CYCLIST_INJURED INT,
NUMBER_OF_CYCLIST_KILLED INT,
NUMBER_OF_MOTORIST_INJURED INT,
NUMBER_OF_MOTORIST_KILLED INT,
CONTRIBUTING_FACTOR_VEHICLE_1 CHAR(100),
CONTRIBUTING_FACTOR_VEHICLE_2 CHAR(100),
CONTRIBUTING_FACTOR_VEHICLE_3 CHAR(100),
CONTRIBUTING_FACTOR_VEHICLE_4 CHAR(100),
CONTRIBUTING_FACTOR_VEHICLE_5 CHAR(100),
COLLISION_ID CHAR(7),
VEHICLE_TYPE_CODE_1 CHAR(50),
VEHICLE_TYPE_CODE_2 CHAR(50),
VEHICLE_TYPE_CODE_3 CHAR(50),
VEHICLE_TYPE_CODE_4 CHAR(50),
VEHICLE_TYPE_CODE_5 CHAR(50)

)'''
cursor.execute(sql)

In [8]:
sql='''COPY main FROM 'C:/Users/public/nypd-motor-vehicle-collisions.csv' DELIMITER ',' CSV HEADER;'''
cursor.execute(sql)

In [9]:
sql = '''SELECT count(*) FROM main'''
cursor.execute(sql)

In [10]:
for i in cursor.fetchall():
    print(i)

(1612178,)